
<div class="container mt-3" >
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <a href= <%= list_path(@list) %> class="btn btn-success">Back</a>
    <%= f.submit class: 'btn btn-success'%>
  <% end %>
</div>
